{% extends 'layout/base.html' %}
{% from 'layout/components.html' import client_form %}

{% block title %}AM3.1 - Editar Cliente{% endblock %}

{% block page_title %}Editar Cliente{% endblock %}

{% block page_actions %}
<div class="col text-end">
  <a href="{{ url_for('clientes.listar_clientes') }}" class="btn btn-secondary">
    <i class="fas fa-arrow-left me-2"></i>Volver a Clientes
  </a>
</div>
{% endblock %}

{% block content %}
{{ client_form(
  cliente=cliente,
  action_url=url_for('clientes.editar_cliente', id=cliente.id),
  is_edit=true
) }}
{% endblock %}